<div class="container text-center">
  <div class="card mx-auto" style="max-width: 400px; border-radius: 20px; background-color:#F8F2C1;">
    <div class="card-body">
      <h1 class="card-title" style="font-size: 40px; font-weight: bold; margin-bottom: 20px">Edit Profile</h1>

      <img src="{{currentUser.picture}}" alt="profile picture" height="100px" width="100px" style="border-radius: 50%" class="mx-auto d-block mb-3">

      <form action="/edit-profile" method="POST" enctype="multipart/form-data">

        <div class="form-group">
          <label for="username" style="font-size: 20px; font-weight: bold; margin-bottom: 20px">Username:</label>
          <input type="text" class="form-control" id="username" name="username" value="{{currentUser.username}}" required>
        </div>

        <div class="form-group">
          <label for="email" style="font-size: 20px; font-weight: bold; margin-bottom: 20px">Email:</label>
          <input type="text" class="form-control" id="email" name="email" value="{{currentUser.email}}" required>
        </div>

        <div class="form-group">
          <label for="interests" style="font-size: 20px; font-weight: bold; margin-bottom: 20px">Interests:</label>
          <select class="form-control" id="interests" name="interests" value="{{currentUser.interests}}" required>
            <option>Sports</option>
            <option>Music</option>
            <option>Food</option>
            <option>Travel</option>
            <option>Nightlife</option>
          </select>
        </div>

        <div class="form-group">
          <label for="about" style="font-size: 20px; font-weight: bold; margin-bottom: 20px">About me:</label>
          <input type="text" class="form-control" id="about" name="about" style="margin-bottom: 40px" value="{{currentUser.about}}" required>
        </div>

  <div class="form-group" style="display: flex; justify-content: space-between; align-items: center;">
  <input type="file" name="profileImg" id="profileImg" style="display: none;" />
  <label for="profileImg" style="cursor: pointer; background-color: #F78F20; color: #FFFFFF; padding: 7px 10px; font-size: 20px; font-weight: bold; border-radius: 5px; margin-right: 10px;">Upload Image</label>
          
  <button type="submit" class="btn btn-primary" style="cursor: pointer; background-color: #FFFFFF; color: #F78F20; padding: 7px 10px; font-size: 20px; font-weight: bold; border-radius: 5px; margin-left: 10px; margin-top: -7px">Save Changes</button>
</div>


      </form>
    </div>
  </div>
</div>
