<div class="container d-flex justify-content-center align-items-center mt-4">
  <div class="card big-card">
      <h1 class="card-title my-3">Edit this event</h1>

      <form class="h-100 w-100 form d-flex flex-column justify-content-center align-items-between" action="/edit-event/{{eventToEdit._id}}" method="POST">

        <div class="form-group">
          <label for="title">Give it a title:</label>
          <input class="form-control" type="text" id="title" name="title" value="{{eventToEdit.title}}">
        </div>

        <div class="form-row d-lg-flex">
          <div class="form-group col-md-6">
            <label for="location">Where is it happening:</label>
            <input class="form-control" type="text" id="location" name="location" value="{{eventToEdit.location}}">
          </div>
          <div class="form-group col-md-6">
            <label for="maxParticipants">How many guests do you accept:</label>
            <input class="form-control" type="number" min="1" id="maxParticipants" name="maxParticipants" value="{{eventToEdit.maxParticipants}}">
          </div>
        </div>

        <div class="form-row d-lg-flex">
           <div class="form-group col-md-6">
              <label for="date">Date:</label>
              <input class="form-control" type="date" id="date" name="date" value="{{eventToEdit.date}}">
            </div>
            <div class="form-group col-md-6">
               <label for="time">Time:</label>
                <input class="form-control" type="time" id="time" name="time" value="{{eventToEdit.time}}">
            </div>
        </div>

        <div class="form-group">
          <label for="description">Tell us more details:</label>
          <textarea class="form-control" id="description" name="description">{{eventToEdit.description}}</textarea>
        </div>

        <button class="btn action-button mt-4" type="submit">Save</button>
      </form>

  </div>
</div>
