<h1>My Created Event</h1>



 <h1>Event Detail</h1>
<h2>Title: {{newEvent.title}}</h2>
<p>Place: {{newEvent.location}}</p>
<p>Date: {{newEvent.date}}</p>
<p>Description: {{newEvent.description}}</p>
<p>Number of spots: {{newEvent.maxParticipants}}</p>
<p>Participants: {{newEvent.participants}}</p>

<a href="/create-event">Create more</a>
<a href="/my-events">My events</a>
<a href="/main">Join other events</a>
 
