<div class="no-events d-flex justify-content-center align-items-center">
  <div class="col-md-6 event-card m-4 p-4">
      <h2 class="event-title">{{newEvent.title}}</h2>
                <p><span class="event-log">Location: </span>{{newEvent.location}}</p>
                <p><span class="event-log">When: </span>{{newEvent.date}}</p>
                <p><span class="event-log">Time: </span>{{newEvent.time}}</p>
                <p><span class="event-log">Plan: </span>{{newEvent.description}}</p>
                <p><span class="event-log">Max number of guests: </span>{{newEvent.maxParticipants}}</p>      
      <div class="d-flex justify-content-center">
        <a href='/edit-event/{{newEvent._id}}' class="btn blue-gray-button m-2">Edit event</a>
      </div>
  </div>
</div>

