
<div class="container fluid d-flex justify-content-center align-items-center; position: absolute  flex-wrap: wrap">
  <div class="card" style="max-width: 600px; border-radius: 20px; background-color:#F8F2C1; d flex flex-wrap: wrap ">
    <div class="card-body text-center">
      {{#if events}}
      <h1 class="card-title" style="font-size: 40px; font-weight: bold; margin-bottom: 30px; color:#F78F20">My Hosted Events</h1>
      {{/if}}
      {{#each events}}
      <div class="card mb-3 d-flex justify-content-center align-items-center; flex-wrap: wrap" style="border-radius: 20px; width: 100%">
        <div class="card-body text-center">
          <h5 class="card-title">{{this.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{this.location}}</h6>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text"><small class="text-muted">{{this.date}} at {{this.time}}</small></p>
          <p class="card-text">Contact guests: 
          {{#if this.participants}}
           {{#each this.participants}}
          {{this.email}}
          {{/each}}
          {{else}}
          No guests for now
          {{/if}}
          </p>
          <div class="d-flex justify-content-center">
            <a href='/edit-event/{{this._id}}' class="btn btn-primary">Edit event</a>
            <a href='/delete-event/{{this._id}}' class="btn btn-danger ml-3">Delete event</a>
          </div>
        </div>
      </div>
      {{/each}} 
      {{#if participation}}
      <h1 class="card-title" style="font-size: 40px; font-weight: bold; margin-bottom: 30px; color:#F78F20">Events I Joined</h1>
      {{#each participation}}
      <div class="card mb-3" style="width: 100%">
        <div class="card-body text-center">
          <h5 class="card-title">{{this.title}}</h5>
          <h6 class="card-subtitle mb-2 text-muted">{{this.location}}</h6>
          <p class="card-text">{{this.description}}</p>
          <p class="card-text"><small class="text-muted">{{this.date}} at {{this.time}}</small></p>
          <p class="card-text">Contact organizer: {{this.organizer.email}}</p>
          <div class="d-flex justify-content-center">
            <a href='/cancel/{{this._id}}' class="btn btn-danger">I can't participate anymore</a>
          </div>
        </div>
      </div>
      {{/each}} 
      {{/if}}
    </div>
  </div>
</div>