<h1>My profile</h1>
<div class="card">
  <div class="card-body">
    <img src={{currentUser.picture}} alt="profile picture" height="100px" width="100px" style="border-radius: 50%"> 
    <p class="card-text">Username: {{currentUser.username}}</p>
    <p class="card-text">Email: {{currentUser.email}}</p>
    <p class="card-text">My interests: {{currentUser.interests}}</p>
    <p class="card-text">About me: {{currentUser.about}}</p>
    <a href="/edit-profile" class="btn btn-primary">Edit profile</a>
  </div>