{{!-- {{#if !events}}
<h1>No upcoming events at this location or time. Create your own event!</h1>
{{/if}} --}}

{{#if events}}
<h1>Upcoming Events</h1>

{{#each events}}
<div class="card">
  <div class="card-body">
    <h2 class="card-title">{{this.title}}</h2>
    <h4 class="card-text"><strong>Organized by:</strong> {{this.organizer.username}}</h4>
    <p class="card-text"><strong>Place:</strong> {{this.location}}</p>
    <p class="card-text"><strong>Date:</strong> {{this.date}}</p>
    <p class="card-text"><strong>Description:</strong> {{this.description}}</p>
    <p class="card-text"><strong>Number of spots:</strong> {{this.maxParticipants}}</p>
    <p class="card-text"><strong>Participants:</strong>  
    {{#each this.participants}}
      {{this.username}}
    {{/each}}
    </p>
    <a href="/join-event/{{this._id}}" class="btn btn-primary">Join this event</a>
  </div>
</div>
{{/each}}
{{else}}
<h1>No upcoming events at your preference. Create your own event!</h1>
<a class="btn btn-primary" href="/create-event">Create Event</a>
{{/if}}

